.about{
    border: 1px solid black;
    margin: 5%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 3, 38);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

li{
    /* border: 1px solid black; */
    margin: 0px;
    width: fit-content;
}
h4{
    /* border: 1px solid black; */
   width: fit-content;
}
p{
  font-weight: bold;
}